* {
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.kart {
  width: 180px;
  border: 1px solid #d92d2d;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  align-items: center;
  box-shadow: 0 0 5px #ac3ba6;
  display: inline-block;
  text-align: center;
}

h3 {
  line-height: 14px;
}

p {
  line-height: 0px;
}

.pahali {
  background: #ffeeee;
}

.kart img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}